# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.class
target/maven-archiver/pom.properties
target/surefire-reports/com.jpmorganchase.supersimplestockmarket.models.StockTest.txt
target/surefire-reports/com.jpmorganchase.supersimplestockmarket.comparators.TradeInDescendingOrderByTimestampComparatorTest.txt
target/supersimplestockmarket-1.0.0.jar
target/surefire-reports/com.jpmorganchase.supersimplestockmarket.enums.StockTypeTest.txt
target/surefire-reports/com.jpmorganchase.supersimplestockmarket.enums.TradeActionTest.txt
target/surefire-reports/com.jpmorganchase.supersimplestockmarket.models.TradeTest.txt
target/surefire-reports/com.jpmorganchase.supersimplestockmarket.services.calculators.impl.GeometricMeanCalculatorImplTest.txt
target/surefire-reports/com.jpmorganchase.supersimplestockmarket.services.calculators.impl.DividendYieldCalculatorImplTest.txt
target/surefire-reports/TEST-com.jpmorganchase.supersimplestockmarket.validators.StockValidatorTest.xml
target/surefire-reports/TEST-com.jpmorganchase.supersimplestockmarket.services.managers.impl.TradeManagerImplTest.xml
target/surefire-reports/TEST-com.jpmorganchase.supersimplestockmarket.validators.TradeValidatorTest.xml
target/surefire-reports/com.jpmorganchase.supersimplestockmarket.services.calculators.impl.PERatioCalculatorImplTest.txt
target/surefire-reports/com.jpmorganchase.supersimplestockmarket.services.calculators.impl.VolumeWeightedStockPriceCalculatorImplTest.txt
target/surefire-reports/com.jpmorganchase.supersimplestockmarket.services.managers.impl.StockManagerImplTest.txt
target/surefire-reports/com.jpmorganchase.supersimplestockmarket.services.managers.impl.TradeManagerImplTest.txt
target/surefire-reports/com.jpmorganchase.supersimplestockmarket.util.TimestampBuilderTest.txt
target/surefire-reports/com.jpmorganchase.supersimplestockmarket.validators.StockValidatorTest.txt
target/surefire-reports/com.jpmorganchase.supersimplestockmarket.validators.TradeValidatorTest.txt
target/surefire-reports/TEST-com.jpmorganchase.supersimplestockmarket.comparators.TradeInDescendingOrderByTimestampComparatorTest.xml
target/surefire-reports/TEST-com.jpmorganchase.supersimplestockmarket.enums.StockTypeTest.xml
target/surefire-reports/TEST-com.jpmorganchase.supersimplestockmarket.enums.TradeActionTest.xml
target/surefire-reports/TEST-com.jpmorganchase.supersimplestockmarket.models.StockTest.xml
target/surefire-reports/TEST-com.jpmorganchase.supersimplestockmarket.models.TradeTest.xml
target/surefire-reports/TEST-com.jpmorganchase.supersimplestockmarket.services.calculators.impl.DividendYieldCalculatorImplTest.xml
target/surefire-reports/TEST-com.jpmorganchase.supersimplestockmarket.services.calculators.impl.GeometricMeanCalculatorImplTest.xml
target/surefire-reports/TEST-com.jpmorganchase.supersimplestockmarket.services.calculators.impl.PERatioCalculatorImplTest.xml
target/surefire-reports/TEST-com.jpmorganchase.supersimplestockmarket.services.calculators.impl.VolumeWeightedStockPriceCalculatorImplTest.xml
target/surefire-reports/TEST-com.jpmorganchase.supersimplestockmarket.services.managers.impl.StockManagerImplTest.xml
target/surefire-reports/TEST-com.jpmorganchase.supersimplestockmarket.util.TimestampBuilderTest.xml
